body {
  background-color: transparent;
  font-family: "Bricolage Grotesque";
  color: #1c1c1c;
  display: block;
  text-align: center;
}
.container {
  margin: 40px;
}
h1 {
  padding: 30px;
  line-height: 1;
}
.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: visible;
  white-space: normal;
}
.ml6 .word {
  display: inline-block;
  white-space: nowrap;
}
.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

main {
  background: url("images/blurred-gradient.jpg") top / cover no-repeat;
  display: inline-block;
  margin: 0;
  border-radius: 20px;
  margin-top: 20px;
  padding: 60px;
  width: 60%;
}
form {
  display: flex;
}
.topic-input {
  font-family: "Bricolage Grotesque";
  font-size: 15px;
  font-weight: 300;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(20px);
  padding: 15px 25px;
  border: none;
  border-radius: 30px;
  width: 60%;
}
.submit-button {
  font-family: "Bricolage Grotesque";
  font-weight: 600;
  font-size: 13px;
  padding: 15px 25px;
  width: auto;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px);
  border: none;
  border-radius: 40px;
  color: #1c1c1c;
  margin-left: 10px;
  text-align: center;
  padding: 20px 20px;
  width: 30%;
  transition: all 0.5s ease;
}
.submit-button:hover {
  background: rgba(255, 255, 255, 0.9);
  color: #1c1c1c;
}
.hint {
  font-family: monospace;
  font-size: 8px;
  color: #fff;
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;
}
.poem {
  text-align: left;
  margin: 40px;
  color: white;
  border-left: 2px #fff solid;
  padding: 20px;
}
.hidden {
  display: none;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
em {
  font-size: 10px;
}

footer {
  margin-top: 40px;
  font-size: 11px;
  text-align: center;
}
a {
  font-style: normal;
  color: #fe2400;
  border-radius: 10px;
  padding: 2px;
  font-weight: 900;
  text-align: center;
  margin: 20px auto;
  transition: all 0.5s ease;
}
